<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
namespace <#=GenerationContext.BaseNamespace#>.SqlMaker.Interfaces
{
    public interface ISqlFirst
    {
        ISqlMakerSelect SELECT(string columns = null);
        ISqlMakerSelect SelectDistinct(string columns = null);
        ISqlMakerInsert INSERT(string tableName);
        ISqlMakerUpdate UPDATE(string tableName);
        ISqlMakerDelete DELETE(string tableName);
    }
}
