<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System.Data;
using Indico.DataAccess.General;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.EnumQueriesStoredProcedures
{
	<#foreach(var relation in _relations){
  #>public class <#=relation.Name#>Enum : EnumBase<<#=relation.Name#>Enum, string>
    {
        public <#=relation.Name#>Enum(string name, string enumValue, CommandType? cmdType): base(name, enumValue, cmdType)
        {}
    }
	<#}#>
}
