<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;
using Indico.DataAccess.Dapper;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Models
{
    [Table("[dbo].[<#=_view.Name#>]")]
    public class <#=_view.Name#> 
    {
        <#foreach(var atd in _view.Attributes){
        #>public <#=atd.DataType#> <#=atd.Name#> { get; set; } 
        <#}#>
    }
}
