<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>

using System;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Repositories
{
<#foreach(var relation in _relations){#>
	public class <#=relation.Name#>Repository : Repository<<#=relation.Name#>>
	{
		public <#=relation.Name#>QueryContext Get() { return new <#=relation.Name#>QueryContext(this); }
	}
<#}#>
}