<#@ template language="C#" #>
<#@ import namespace="Genie.Base.Generating.Concrete" #>
using System.Collections.Generic;
using <#=GenerationContext.BaseNamespace#>.Infrastructure.Models.Concrete;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Collections.Abstract
{
    public interface IReferencedEntityCollection<T> : IEnumerable<T> where T: BaseModel
	{
		void Add(T entityToAdd);
	}
}

