<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;

namespace <#=GenerationContext.BaseNamespace#>.Dapper 
{
    /// <summary>
    /// Tell Dapper to use an explicit constructor, passing nulls or 0s for all parameters
    /// </summary>
    [AttributeUsage(AttributeTargets.Constructor, AllowMultiple = false)]
    public sealed class ExplicitConstructorAttribute : Attribute
    {
    }
}