<#@ template language="C#" #>
<#@ import namespace="Genie.Base.Generating.Concrete" #>
using System;
using System.Collections.Generic;
using System.Data;
using System.Reflection;

namespace <#=GenerationContext.BaseNamespace#>.Dapper 
{
	public interface ISqlAdapter
	{
		int? Insert(IDbConnection connection, IDbTransaction transaction, int? commandTimeout, String tableName, string columnList, string parameterList, List<PropertyInfo> keyProperties, object entityToInsert);
	}

}