<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;

namespace <#=GenerationContext.BaseNamespace#>.Dapper 
{
	[AttributeUsage(AttributeTargets.Property)]
    public class KeyAttribute : Attribute
    {
    }
}