<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;
using System.Data;

namespace <#=GenerationContext.BaseNamespace#>.Dapper 
{
    partial class SqlMapper
    {
        struct DeserializerState
        {
            public readonly int Hash;
            public readonly Func<IDataReader, object> Func;

            public DeserializerState(int hash, Func<IDataReader, object> func)
            {
                Hash = hash;
                Func = func;
            }
        }
    }
}