<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;

namespace <#=GenerationContext.BaseNamespace#>.Dapper
{
	[AttributeUsage(AttributeTargets.Property)]
    public class WriteAttribute : Attribute
    {
        public WriteAttribute(bool write)
        {
            Write = write;
        }
        public bool Write { get; private set; }
    }
}