<#@ template language="C#" #>
<#@ import namespace="Genie.Base.Generating.Concrete" #>
namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Filters.Abstract
{
    public interface IExpressionJoin<out T, out TQ> where T : IFilterContext
    {
        T And { get; }
        T Or { get; }
        TQ Filter();
    }
}

