<#@ template language="C#" #>
<#@ import namespace="Genie.Base.Generating.Concrete" #>
using System.Collections.Generic;
namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Filters.Abstract
{
	public interface IOrderContext
    {
        void And();
        void Add(string expression);
        Queue<string> GetOrderExpressions();
    }
}

