<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Filters.Abstract
{
	public interface IOrderElement<out T, out TQ> where T : IOrderContext
	{
		IOrderJoin<T, TQ> Ascending();
		IOrderJoin<T, TQ> Descending();
	}
}

