<#@ template language="C#" #>
<#@ import namespace="Genie.Base.Generating.Concrete" #>
namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Filters.Abstract
{
    public interface IOrderJoin<out T, out TQ> where T : IOrderContext
    {
        T And { get; }
        TQ Order();
    }
}

