<#@ template language="C#" #>
<#@ import namespace="Genie.Base.Generating.Concrete" #>

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Actions.Abstract
{
    internal interface IAddAction
    {
        void Run();
    }
}
