<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;
using System.Data;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Interfaces
{
	public interface IDapperContext : IDisposable
	{
		IDbConnection Connection { get; }
	}
}
