<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Interfaces
{
	public interface IDapperContext : IDisposable
	{
		IDbConnection Connection { get; }
	}
}
