<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System;
using System.Collections.Generic;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Interfaces
{
	public interface IProcedureContainer
    {
<#foreach(var sp in _schema.Procedures){#>
		IEnumerable<T> <#=sp.Name#>List<T>(<#=sp.ParamString#>) where T: class
<#}#>

<#foreach(var sp in _schema.Procedures){#>
		T <#=sp.Name#>Single<T>(<#=sp.ParamString#>) where T: class;
<#}#>
    }
}
