<#@ template language="C#" #>
<#@ import namespace="Genie.Base" #>
using System.Data;
using <#=GenerationContext.BaseNamespace#>.Infrastructure.Models;

namespace <#=GenerationContext.BaseNamespace#>.Infrastructure.Interfaces
{
	public interface IUnitOfWork
    {
        IDapperContext Context { get; }
        IDbTransaction Transaction { get; }
        IRepository<TSet> GetRepository<TSet>() where TSet : BaseModel;
        IDbTransaction BeginTransaction();
        void Commit();
    }
}
